@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 40 65 57;
    --color-secondary: 192 151 99;
    /* ... */
  }
}

body {
  @apply antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900;
}

.main-content {
  display: grid;
  min-height: calc(100vh - 207px);
  background-color: white !important;
  padding: 80px 60px 0 80px !important;
}

.dark .highlight-white {
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 5%);
}

.bg-main-color {
  background-color: #284139 !important;
  border-bottom-color: #284139 !important;
}

.uppercase {
  text-transform: uppercase;
}

.action_btn {
  background-color: #284139 !important;
  color: #c09763 !important;
  border-radius: 0%;
  box-shadow: none;
}
.action_btn:hover {
  background-color: #c09763 !important;
  color: #284139 !important;
}

.app-color {
  color: #284139 !important;
}


/* Input Field */
.v-input, .v-input__slot:before {
  border-color: #284139 !important;
}

.v-input {
  color: #284139 !important;
}
.v-input input:focus {
  background-color: white !important;
  outline-color: #c09763 !important;
}
.v-text-field__slot .v-label-active {
  color: #284139 !important;
}

.v-text-field__slot input {
  color: #284139 !important;
}

.v-label {
  color: #284139 !important
}

.v-application .primary--text {
  color: #c09763 !important;
  caret-color: #c09763;
}